.message {
    min-height: 77px;
    display: flex;
    flex-direction: column;
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    margin-bottom: 5px;
}

.imageAndText img {
    width: 48px;
    height: 48px;
    margin-left: 10px;
}

.text {
    display: inline-block; /* чтобы блок вел себя как текст */
    text-align: right; /* прижимает текст вправо */
    color: white;
    background: rgba(0, 102, 204, 1);
    padding: 10px 15px;
    border-radius: 10px 10px 0px 10px; /* нам не нужен бордер на правом нижнем углу */
    position: relative; /* для позиционирования after относительно этого блока */
    box-shadow: 0px 2px 0px 0px rgba(29, 33, 38, 0.08);
}

.text:after {
    content: ''; /* без какого-либо контента псевдоэлемент просто не отображается, поэтому создаем пустой */
    position: absolute; /* думаю все понятно */
    right: -10px; /* смещение от правого края родителя на 10px вправо. то есть на весь размер за его пределы */
    border: 10px solid transparent; /* у нас нет высоты и ширины. тут мы вокруг "ничего" создаем толстый бордер.
    Теперь каждая сторона этого бордера представляет собой не линию, а пирамиду */
    border-left-color: rgba(0, 102, 204, 1); /* красим левую сторону бордера и получаем треугольник */
    border-right: 0px; /* отрубаем правую сторону от центра */
    border-bottom: 0px; /* отрубаем нижнюю сторону от центра */
    bottom: 0px; /* прижимаем получившийся гол к низу чтобы он не уезжал при увеличении высоты блока */
    box-shadow: 0px 2px 0px 0px rgba(29, 33, 38, 0.08);
}

.name {
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    line-height: 100%;
    height: 22px;
}

.messageText {
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.time {
    text-align: right;
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 10px;
    line-height: 100%;
    margin-right: 11px;
}