.message {
    min-height: 77px;
    display: flex;
    flex-direction: column;
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    margin-bottom: 5px;
}

.imageAndText img {
    width: 48px;
    height: 48px;
    margin-left: 10px;
}

.text {
    display: inline-block; /* so the block behaves like inline text */
    text-align: right; /* pushes the text to the right */
    color: white;
    background: rgba(0, 102, 204, 1);
    padding: 10px 15px;
    border-radius: 10px 10px 0px 10px; /* we don’t need a rounded corner on the bottom-right */
    position: relative; /* needed so :after can be positioned relative to this block */
    box-shadow: 0px 2px 0px 0px rgba(29, 33, 38, 0.08);
}

.text:after {
    content: ''; /* without content a pseudo-element won’t render, so we create an empty one */
    position: absolute; /* pretty self-explanatory */
    right: -10px; /* move it 10px to the right from the parent’s edge—basically outside the bubble */
    border: 10px solid transparent; /* since we have no width/height, we draw a thick border around “nothing”
    and each side of that border becomes a little pyramid */
    border-left-color: rgba(0, 102, 204, 1); /* color the left side of the border to form the triangle */
    border-right: 0px; /* cut off the right side */
    border-bottom: 0px; /* cut off the bottom side */
    bottom: 0px; /* pin the little tail to the bottom so it doesn’t shift when the bubble gets taller */
    box-shadow: 0px 2px 0px 0px rgba(29, 33, 38, 0.08);
}

.name {
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    line-height: 100%;
    height: 22px;
}

.messageText {
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.time {
    text-align: right;
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 10px;
    line-height: 100%;
    margin-right: 11px;
}