.friendMessage {
    min-height: 77px;
    display: flex;
    flex-direction: column;
}

.friendImageAndText {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.friendImageAndText img {
    width: 48px;
    height: 48px;
    margin-right: 10px;
}

.friendText {
    display: inline-block;
    text-align: right;
    color: black;
    background: rgba(245, 247, 251, 1);
    padding: 10px 15px;
    border-radius: 10px 10px 10px 0px;
    position: relative;
    box-shadow: 0px 2px 0px 0px rgba(29, 33, 38, 0.08);
}

.friendText:after {
    content: '';
    position: absolute;
    left: -10px;
    border: 10px solid transparent;
    border-right-color: rgba(245, 247, 251, 1);
    border-left: 0px;
    border-bottom: 0px;
    bottom: 0px;
    box-shadow: 0px 2px 0px 0px rgba(29, 33, 38, 0.08);
}

.friendName {
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    line-height: 100%;
    height: 22px;
}

.friendMessageText {
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.friendTime {    
    text-align: left;
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 10px;
    line-height: 100%;
    margin-left: 11px;
}
