.sendForm {
    display: flex;
    justify-content: space-between;
    align-items:center;
    bottom: 0px;
    padding: 35px 0px;
}

.textarea {
    border: none;
    width: 100%;
    height: 40px;
    padding: 8px 15px;
    top: 539px;
    left: 70px;
    opacity: 1;
    border-radius: 20px;
    background-color: rgba(245, 247, 251, 1);
    box-sizing: border-box;
    box-shadow: 0px 2px 2px 0px rgba(29, 33, 38, 0.1);
}

    .textarea::placeholder {
        font-family: Montserrat;
        font-weight: 400;
        font-style: Regular;
        font-size: 14px;
        line-height: 100%;
    }

.button {
    width: 120;
    margin-left: 44px;
    border: none;
    padding: 10px 39px;
    height: 40;
    top: 539px;
    left: 1090px;
    opacity: 1;
    border-radius: 20px;
    background: rgba(0, 102, 204, 1);

    font-family: Montserrat;
    color: white;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    line-height: 100%;
}

.button:hover {
    background: rgb(0, 72, 143)
}
.button:active {
    border: 2px solid rgb(2, 128, 255);;
}
